

<h2>HELLO SELLER!</h2>


<h3>List OF products</h3>
<div id ="cardContainer"  *ngIf="product$">

  <ul>
    <li fxFlex *ngFor="let p of product$ | async ">
      <mat-card  >
        <mat-card-header>
          <mat-card-title>{{p.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://source.unsplash.com/random/800x600">
        <mat-card-content>
          <p>price:{{p.price}}.</p>
        </mat-card-content>
        
      </mat-card>
    </li>
  </ul>
</div>

<div>

<div>
  <mat-form-field>
    <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<table mat-table [dataSource] = "dataSource" matSort > 
   <ng-container matColumnDef = "name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name</th>
      <td mat-cell *matCellDef = "let element"> {{element.name}} </td>
   </ng-container>
   <ng-container matColumnDef = "type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef = "let element"> {{element.type}} </td>
   </ng-container>
   <ng-container matColumnDef = "price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef = "let element"> {{element.price}} </td>
   </ng-container>
   

   <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
   <tr mat-row *matRowDef = "let row; columns: displayedColumns;  let i= index"
    [ngClass]="{'highlight': selectedRowIndex == i}"
    (click)="highlight(i)"
    tabindex="999"
    (keydown.arrowdown)="arrowDownEvent(selectedRowIndex)"
    (keydown.arrowup)="arrowUpEvent(selectedRowIndex)"></tr>
</table>

<mat-form-field>
   <input matInput [(ngModel)]="goToPage">
</mat-form-field>
<button (click)="updateGoToPage()">Go</button>


  <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>






  <h2>ADD A PRODUCT</h2>

<input type="text" placeholder="product name" #productname> <br>
<input type="text" placeholder="product type" #producttype> <br>
<input type="text" placeholder="product price" #productprice> <br>



<button (click)="addProduct(productname.value,producttype.value,productprice.value)"  >  ADD PRODUCT </button>

<button (click)="getProduct()">getProduct</button>
